doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/game.api.js')
    script(src='/javascripts/game.route.js')
    script(src='/javascripts/game.socket.js')
    script(src='/javascripts/game.control.js')
    script(src='/javascripts/main.js')
